/* MAIN CSS FILE */
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.main-cards h2{
  text-align: center
}
.main-cards img{
  width:100%;
}
.story-cards {
  margin-top: 30px;
  margin-bottom: 30px;
  img {
    width:200px;
  }
}

.activity, .restaurant, .coffee, .fitness, .golf {
  h2 {
    font-size:15px;
  }
}

#map { position:absolute; top:0; bottom:0; width:100%; }

.hotel {
  padding-left:20px;
  padding-right:20px;
  width:25%;
  float:left;
  p {
    font-size:12px;
  }
  .detail {
    p {
      font-size:11px;
    }
  }
}

.transportation, .flights {
  ul {
    width:100%;
    li {
      display: inline-block;
      width: 200px;
      text-align: center;
    }
  }
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.main-cards {
  .card{
    &:hover{
      opacity: 0.3;
    }
    a {
      color:black;
      &:hover{
        color: black;
        text-decoration: none;
      }
      h2 {
        margin-top:38px;
        margin-bottom:38px;
      }
    }
  }
}
