<div class="section">
  <div class="container">
    <div class="starter-template">
      <h1>EXPLORE</h1>
    </div>
    <div class="row">
      <div class="col-md-4 explore">
        <h2>Acitivites</h2>
        <div class="activity">
          <h2><a href="http://utaholympiclegacy.org/">Olympic Village</a></h2>
        </div>
        <div class="activity">
          <h2><a href="http://www.mountainbikingparkcity.com/">Mountain Biking</a></h2>
        </div>
        <div class="activity">
          <h2><a href="http://www.mountainbikingparkcity.com/">Park City Air Balloons</a></h2>
        </div>

        <h2>Coffee Shop</h2>
        <div class="coffee">
          <h2><a href="http://www.atticustea.com/">Atticus Coffee & Teahouse</a></h2>
        </div>
      </div>
      <div class="col-md-4 explore">
        <h2>Restaurants</h2>
        <div class="restaurant">
          <h2><a href="http://www.riverhorseparkcity.com/">Riverhorse on Main</a></h2>
        </div>
        <div class="restaurant">
          <h2><a href="http://handleparkcity.com/">Handle</a></h2>
        </div>
        <div class="restaurant">
          <h2><a href="http://www.highwest.com/saloon-restaurant/">High West Distillery</a></h2>
        </div>
        <div class="restaurant">
          <h2><a href="https://www.montagehotels.com/deervalley/dining/burgers-bourbon/">Burgers & Bourbon</a></h2>
        </div>
        <div class="restaurant">
          <h2><a href="http://www.vinto.com/">Vinto</a></h2>
        </div>
        <div class="restaurant">
          <h2><a href="http://www.chimayorestaurant.com/">Chimayo Restaurant</a></h2>
        </div>
        <div class="restaurant">
          <h2><a href="http://www.fletcherspc.com/">Fletcher's</a></h2>
        </div>
        <div class="restaurant">
          <h2><a href="http://www.wahso.com/#french-asian-park-city">Wahso</a></h2>
        </div>
        <div class="restaurant">
          <h2><a href="http://www.parkcitymountain.com/activities/dining/the-farm.aspx#/FarmDinner">The Farm</a></h2>
        </div>
      </div>
      <div class="col-md-4 explore">
        <h2>Fitness</h2>
        <div class="fitness">
          <h2><a href="http://parkcity.orangetheoryfitness.com/">OrangeTheory Fitness</a></h2>
        </div>
        <div class="fitness">
          <h2><a href="http://purebarre.com/ut-parkcity/">Pure Barre</a></h2>
        </div>
        <div class="fitness">
          <h2><a href="http://parkcityyogastudio.com/">Park City Yoga Studio</a></h2>
        </div>

        <h2>Golf</h2>
        <div class="golf">
          <h2><a href="http://www.glenwild.com/Club/Scripts/Home/home.asp">Glenwild Golf Club</a></h2>
        </div>
        <div class="golf">
          <h2><a href="http://www.promontoryclub.com/">Promontory Club</a></h2>
        </div>
      </div>
    </div>
  </div>
</div>
