<div class="section">
  <div class="container">
    <div class="starter-template">
      <h1>Kristine + Gareth</h1>
      <p class="lead">9.9.2017</p>
    </div>
    <div class="row main-cards">
      <div class="col-md-4 card">
        <a href="#our-story">
          <img src="/static/img/ourstory.png">
          <h2>OUR STORY</h2>
        </a>
      </div>
      <div class="col-md-4 card">
        <a href="#the-big-day">
          <img src="/static/img/thebigday.png">
          <h2>THE BIG DAY</h2>
        </a>
      </div>
      <div class="col-md-4 card">
        <a href="#accomodation">
          <img src="/static/img/accom.png">
          <h2>ACCOMODATION</h2>
        </a>
      </div>
    </div>
    <div class="row main-cards">
      <div class="col-md-4 card">
        <a href="#explore">
          <img src="/static/img/explore.png">
          <h2>EXPLORE PARK CITY</h2>
        </a>
      </div>
      <div class="col-md-4 card">
        <a href="#song-requests">
          <img src="/static/img/songrequests.png">
          <h2>SONG REQUESTS</h2>
        </a>
      </div>
      <div class="col-md-4 card">
        <a href="#registry">
          <img src="/static/img/registry.png">
          <h2>REGISTRY</h2>
        </a>
      </div>
    </div>
  </div>
</div>
