<div class="section">
  <div class="container">
    <div class="starter-template">
      <h1>Our Story</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Gareth and Kristine met on Kristine's second day of work at Twitter. Since meeting they both became close, spending every hour together. Shortly after they both moved into a studio apartment in San Francisco, sharing arguably the smallest liveable space. The two then moved out of the city to Larkspur, Marin - where they share their love for the outdoors.</p>
        <p>On December 2nd, 2016 - Gareth proposed via a scavenger hunt app he built leading to a proposal on Hippy Hill in Belvedue, Marin. Their first date was also a scavenger hunt with capsules buried and hidden around San Francisco.</p>
        <div class="story-cards">
          <div class="row">
            <div class="col-md-15 col-sm-3">
              <img src="/static/img/our-story/001.jpg" />
            </div>
            <div class="col-md-15 col-sm-3">
              <img src="/static/img/our-story/002.jpg" />
            </div>
            <div class="col-md-15 col-sm-3">
              <img src="/static/img/our-story/003.jpg" />
            </div>
            <div class="col-md-15 col-sm-3">
              <img src="/static/img/our-story/004.jpg" />
            </div>
            <div class="col-md-15 col-sm-3">
              <img src="/static/img/our-story/005.jpg" />
            </div>
          </div>
        </div>
        <ol>
          <li>May 20, 2014 - The day we met</li>
          <li>May 20, 2014 - The day we became best friends</li>
          <li>August 30, 2015 - We made it official</li>
          <li>December 2, 2016 - I said yes</li>
          <li>September 9, 2017 - We say I do</li>
        </ol>
      </div>
    </div>
    <div class="starter-template">
      <p class="lead">SHARE YOUR PHOTOS WITH #TEAMGPJ</p>
    </div>
  </div>
</div>
